# Files and directories created by pub
.packages
.idea/
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock
iOSIconResizer.iml

# Directory created by dartdoc
doc/api/
